<% type = message.watson_response ? 'watson' : 'user' %>
<div class="message-wrapper <%= type %>">
  <%= image_tag 'head.svg' if type == 'user' %>
  <div class="message <%= type %>-message">
    <%= message.content %>
  </div>
  <%= image_tag 'watson-logo-round.png' if type == 'watson' %>
</div>
