<h1>Admin Panel</h1>

<div class="container">

  <h3>Welcome, <%= current_user.name %>!</h3>
  <h4>You are logged in as administrator</h4>

  <br>

  <h3>Customers:</h3>
  <%= render 'customers/table' %>
  <%= link_to new_customer_path, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span> New Customer
  <% end %>

  <br>

  <h3>Machine Learning Services:</h3>
  <%= render 'ml_scoring_services/table' %>

  <%= link_to new_ml_scoring_service_path, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span> New Machine Learning Service
  <% end %>

</div>