<% if logged_in? and is_admin? %>
<h1>Admin Panel</h1>

<div class="container">

  <h3>Welcome, <%= current_user.name %>!</h3>
  <h4>You are logged in as administrator</h4>
  <br>
  <h3>Customers:</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Churn Prediction: </th>
      <th>Churn Probability: </th>
      <th>Last Scoring Call: </th>
      <th>Profile</th>
    </tr>
    <% Customer.all.each do |customer| %>
        <tr>
          <td><%= customer.user.name %></td>
          <td><%= customer.churn_prediction.to_s %></td>
          <td><%= number_to_percentage(customer.churn_probability*100, precision: 1) if customer.churn_probability %></td>
          <td><%= local_time(customer.updated_at) if customer.churn_prediction %></td>
          <td><%= link_to 'View Profile', customer_profile_path(customer.id) %></td>
        </tr>
    <% end %>
  </table>
  <br>
  <%= render 'ml_scoring_service/index' %>

</div>
<% end %>