<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <% MlScoringService.table_columns.each do |col| %>
      <th><%= MlScoringService.human_attribute_name col %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% @ml_scoring_services.each do |rec| %>
    <tr>
      <th><%= '*' if rec == MlScoringService.main %></th>
      <% MlScoringService.table_columns.each do |col| %>
        <td><%= rec.send(col) %></td>
      <% end %>
      <td>
        <div class="flex">
        <%= link_to 'Edit', [:edit, rec], class: 'btn btn-warning' %>&nbsp;&nbsp;
        <%= button_to 'Delete', rec, method: :delete, class: 'btn btn-danger',
                      data: { confirm: 'Are you sure you want to delete this Machine Learning Service?' } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
