<table class="table table-bordered table-striped">
  <tr>
    <% MlScoringService.table_columns.each do |col| %>
      <th><%= MlScoringService.human_attribute_name col %></th>
    <% end %>
    <% MlScoringService.table_helpers.each do |helper| %>
      <th><%= MlScoringService.human_attribute_name helper %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% @ml_scoring_services.each do |rec| %>
    <tr>
      <% MlScoringService.table_columns.each do |col| %>
        <td><%= rec[col] %></td>
      <% end %>
      <% MlScoringService.table_helpers.each do |helper| %>
          <%= method(helper).call(rec) %>
      <% end %>
      <td>
        <div class="flex">
        <%= link_to 'Edit', [:edit, rec], class: 'btn btn-warning' %>&nbsp;&nbsp;
        <%= button_to 'Delete', rec, method: :delete, class: 'btn btn-danger',
                      data: { confirm: 'Are you sure you want to delete this Machine Learning Service?' } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
