<% attr_errors = errors&.messages[attr] || [] %>
<% required ||= false %>
<% text = defined?(model_class) ? model_class.human_attribute_name(attr) : t(attr) %>
<% options = defined?(model_class) ? (attr.to_s+'_options').to_sym : nil %>
<div class="row form-group <%= 'has-error' if attr_errors.length>0 %>">
  <%= form.label attr, text+(required ? '*' : '')+':', class: 'control-label col-sm-3' %>
  <div class="col-sm-6">
    <% if options && model_class&.methods.include?(options) %>
        <%= form.select attr, model_class.send(options), {include_blank: true}, class: 'form-control' %>
    <% else %>
        <%= form.text_field attr, class: 'form-control' %>
    <% end %>
    <% if attr_errors.length>0 %>
        <%= form.label attr, attr_errors[0], class: 'control-label' %>
    <% end %>
  </div>
</div>