<div>
  <% if @nlu_output %>
      <h4><%= image_tag 'NLU.png', class: 'watson-service-icon' %> Natural Language Understanding: </h4><br>
      <table class="table">
        <tr>
          <th>Top Keywords</th>
          <th>Sentiment</th>
        </tr>
        <% @nlu_output['keywords'].each do |keyword| %>
            <tr class="<%= 'highlighted-cell' if @relevant_keywords.include? keyword['text'] %>">
              <td><%= keyword['text'] %></td>
              <%= rg_table_cell (keyword['sentiment']['score'] > 0.5), number_to_percentage(keyword['sentiment']['score']*100, precision: 0) %>
            </tr>
        <% end %>
      </table>
      <h4><strong>Negative Finance-Related Tweets: </strong> <%= @customer.negtweets %></h4>
      <br>
      <div class="float-right right-button">
        <%= render partial: 'full_json', locals: { id: 'nlu-json', data: @nlu_output } %>
      </div>
  <% end %>
</div>
