<div class="flex margin">
  
  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Travesty in Africa - foreign exchange fees are higher than Trump&#39;s wall  <a href="https://twitter.com/hashtag/kenya?src=hash&amp;ref_src=twsrc%5Etfw">#kenya</a> <a href="https://twitter.com/hashtag/africa?src=hash&amp;ref_src=twsrc%5Etfw">#africa</a> <a href="https://twitter.com/hashtag/borderwall?src=hash&amp;ref_src=twsrc%5Etfw">#borderwall</a> <a href="https://twitter.com/hashtag/AmEx?src=hash&amp;ref_src=twsrc%5Etfw">#AmEx</a> <a href="https://twitter.com/hashtag/bankrobbery?src=hash&amp;ref_src=twsrc%5Etfw">#bankrobbery</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/bruce_wayne64/status/930594399800778752?ref_src=twsrc%5Etfw">December 21, 2016</a></blockquote>
  </div>
  
  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Another stunning sunset in Mara Naboisho <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="https://twitter.com/hashtag/nofilter?src=hash&amp;ref_src=twsrc%5Etfw">#nofilter</a> <a href="https://twitter.com/hashtag/africa?src=hash&amp;ref_src=twsrc%5Etfw">#africa</a> <a href="https://twitter.com/hashtag/kenya?src=hash&amp;ref_src=twsrc%5Etfw">#kenya</a> <a href="https://twitter.com/hashtag/safari?src=hash&amp;ref_src=twsrc%5Etfw">#safari</a> <a href="https://twitter.com/hashtag/maranaboisho?src=hash&amp;ref_src=twsrc%5Etfw">#maranaboisho</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/bruce_wayne64/status/930619940926877697?ref_src=twsrc%5Etfw">December 14, 2016</a></blockquote>
  </div>

  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Buffalo on my morning bush walk. <a href="https://twitter.com/hashtag/maranaboisho?src=hash&amp;ref_src=twsrc%5Etfw">#maranaboisho</a> <a href="https://twitter.com/hashtag/kenya?src=hash&amp;ref_src=twsrc%5Etfw">#kenya</a> <a href="https://twitter.com/hashtag/safari?src=hash&amp;ref_src=twsrc%5Etfw">#safari</a> <a href="https://twitter.com/hashtag/africa?src=hash&amp;ref_src=twsrc%5Etfw">#africa</a> <a href="https://twitter.com/hashtag/wildlife?src=hash&amp;ref_src=twsrc%5Etfw">#wildlife</a> <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/bruce_wayne64/status/930621614605074433?ref_src=twsrc%5Etfw">November 15, 2017</a></blockquote>
  </div>
  
</div>