<div class="flex margin tweets">
  
  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">These foreign exchange fees are higher than Trump&#39;s wall  <a href="https://twitter.com/">#kenya</a> <a href="https://twitter.com/">#africa</a> <a href="https://twitter.com/">#borderwall</a> <a href="https://twitter.com/">#AmEx</a> <a href="https://twitter.com/">#bankrobbery</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/"><%= (Date.today - 17).strftime('%B %-d, %Y') %></a></blockquote>
  </div>
  
  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A stunning safari sunset in Mara Naboisho Conservancy<a href="https://twitter.com/">#sunset</a> <a href="https://twitter.com/">#nofilter</a> <a href="https://twitter.com/">#africa</a> <a href="https://twitter.com/">#kenya</a> <a href="https://twitter.com/">#safari</a> <a href="https://twitter.com/">#maranaboisho</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/"><%= (Date.today - 18).strftime('%B %-d, %Y') %></a></blockquote>
  </div>

  <div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Traveling to Kenya DBX&gt;NBO  <a href="https://twitter.com/">#kenya</a> <a href="https://twitter.com/">#outofafrica</a> <a href="https://twitter.com/">#emirates</a></p>&mdash; <%= @customer.name %> (@<%= @customer.twitter_id %>) <a href="https://twitter.com/"><%= (Date.today - 20).strftime('%B %-d, %Y') %></a></blockquote>
  </div>
  
</div>