<div style="width: 50%">
  <% if @personality %>
      <h4><%= image_tag 'PersonalityInsights.png', class: 'watson-service-icon' %> Personality Insights: </h4><br>
      <table class="table">
        <tr>
          <th>Needs:</th>
          <td><%= @personality[:needs] %></td>
        </tr>
        <tr>
          <th>Values:</th>
          <td><%= @personality[:values] %></td>
        </tr>
      </table>
      <canvas id="myChart" height="170px"></canvas>
      <br>
      <%= render partial: 'full_json', locals: { id: 'pi-json', data: @personality[:json] } %>
  <% end %>
</div>
<script>
    var ctx = document.getElementById("myChart");
    const percentCallback = value => value+' %'; // Include a percent sign in the ticks
    const percentTooltip = (tooltipItem) => {
        return tooltipItem[0].yLabel+': '+tooltipItem[0].xLabel.toFixed(1)+'%';
    };
    new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: <%= raw @personality[:personality].keys %>,
            datasets: [{
                data: <%= raw @personality[:personality].values %>,
                backgroundColor: 'blue',
                borderWidth: 1
            }]
        },
        options: {
            legend: {display: false},
            scales: {xAxes: [{ticks: {beginAtZero: true, callback: percentCallback}}]},
            tooltips: {callbacks: {title: percentTooltip, label: () => null} }
        }
    })
</script>