<div class="container">
  <% if logged_in? %>

      <h2><%= current_user.name %>'s Profile:</h2>
      <br>
      
      <table class="table">
        <tr>
          <td>
            
            <div>
              <%= render partial: 'summary' %>
            </div>
            
            <% if @customer.churn_prediction %>
                <br>
                <div>
                  <h3>Customer Churn:</h3>
                  <p><strong>Prediction: </strong><%= @customer.churn_prediction.to_s %></p>
                  <p><strong>Probability: </strong><%= number_to_percentage(@customer.churn_probability*100, precision: 1) %></p>
                  <p><strong>Last Scoring Call: </strong><%= local_time(@customer.updated_at) %></p>
                </div>
            <% end %>
            
          </td>
          
          <td>

            <h3>Twitter Profile:</h3>
            <h3><a href="https://twitter.com/<%= @twitter_username %>" target="_blank">@<%= @twitter_username %></a></h3>
            <br>
            
            <div class="row">

              <div class="col-md-6 bordered">
                <% if @keywords %>
                  <h4>Natural Language Understanding: </h4><br>
                  <p><strong>Negative Tweets: </strong> <%= @customer.negtweets %></p>
                  <table class="table">
                    <tr><th>Keywords</th><th>Sentiment</th></tr>
                    <% @keywords.each do |keyword| %>
                        <tr>
                          <td><%= keyword['text'] %></td>
                          <td><%= number_to_percentage keyword['sentiment']['score']*100, precision: 0 %></td>
                        </tr>
                    <% end %>
                  </table>
                <% end %>
              </div>
              
              <div class="col-md-6 bordered">
                <% if @personality %>
                    <h4>Personality Insights: </h4><br>
                    <% @personality[:personality].each do |k, v| %>
                        <p><strong><%= k %>: </strong><%= number_to_percentage(v*100, precision: 1) %></p>
                    <% end %>
                    <br>
                    <p><strong>Needs: </strong><%= @personality[:needs] %></p>
                    <p><strong>Values: </strong><%= @personality[:values] %></p>
                    <br>
                <% end %>
              </div>
              
            </div>
            
          </td>
          
        </tr>
      </table>
      
  <% end %>
</div>
