<h1>Profile</h1>

<div class="container">
  <% if logged_in? %>
      
      <% if @churn %>
      <div>
        <h4>Churn Result:</h4>
        <%= pp @churn %>
      </div>
      <% end %>

      <% if @personality %>
      <div>
        <h4>Twitter Personality:</h4>
        <%= current_customer.attributes.slice('twitter_id') %><br>
        <%= @personality.attributes.slice('personality', 'values', 'needs') %><br>
        <% values_closeness = @personality.values == 'Closeness' %>
        Values Closeness: <strong><%= values_closeness %></strong>
        <%= hidden_field_tag(:values_closeness, values_closeness) %>
      </div>
      <% end %>

      <% no_messages = current_customer.messages.where(watson_response: false).empty? %>
      <%= hidden_field_tag(:no_messages, no_messages) %>
      <br>
      <%= 'no messages yet' if no_messages %> 
      
      <h3>Welcome, <%= current_user.name %>!</h3>
      <br>
      <h4>Total Transactions: <%= current_customer.transactions.count %></h4>
      <%= pie_chart @sorted_categories %>

      <h3>Transactions</h3>
      <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
        </tr>
        <% current_customer.transactions.order(date: :desc).each do |transaction| %>
            <tr>
              <td><%= transaction.date %></td>
              <td><%= transaction.category %></td>
              <td><%= transaction.amount %></td>
            </tr>
        <% end %>
      </table>

  <% end %>
</div>
