<h1>Profile</h1>

<div class="container">
  <% if logged_in? %>

      <h2><%= current_user.name %>'s Profile:</h2>
      <br>
      
      <table class="table">
        <tr>
          <td>
            <div>
              <%= render partial: 'summary' %>
            </div>
          </td>

          <td>
            
            <% if @personality %>
                <div>
                  <h3>Twitter Profile:</h3>
                  
                  <p><strong>Twitter Username: </strong> <%= current_user.name.downcase %>43253</p>
                  <br>
                  <h4>Personality: </h4>
                  <% @personality[:personality].each do |k, v| %>
                      <p>&nbsp&nbsp&nbsp&nbsp<strong><%= k %>: </strong><%= number_to_percentage(v*100, precision: 1) %></p>
                  <% end %>
                  <br>
                  <p><strong>Needs: </strong><%= @personality[:needs] %></p>
                  <p><strong>Values: </strong><%= @personality[:values] %></p>
                  <br>
                  <p><strong>Negative Signals: </strong> Foreign Transaction Fees</p>
                  
                </div>
            <% end %>

            <br><br>
            
            <% if @customer.churn_prediction %>
                <div>
                  <h3>Customer Churn:</h3>
                  <p><strong>Prediction: </strong><%= @customer.churn_prediction.to_s %></p>
                  <p><strong>Probability: </strong><%= @customer.churn_probability.to_s %></p>
                  <p><strong>Last Scoring Call: </strong><%= local_time(@customer.updated_at) %></p>
                </div>
            <% end %>
            
          </td>
          
        </tr>
      </table>
      
  <% end %>
</div>
