<%= render 'shared/x_admin' if is_admin? %>

<% if is_admin? && @modifiable %>
<div id="customer-settings-area" class="right-button">
  <div class="button-container">
    <button id="customer-settings-button" class="btn btn-default" type="button" data-toggle="collapse" data-target="#customer-settings-menu">
      <%= content_tag :span, nil, class: 'glyphicon glyphicon-cog' %>
    </button>
  </div>
  <div id="customer-settings-menu" class="collapse">
    <div>
      <%= link_to 'Edit Customer', edit_customer_path(@customer), class: 'btn btn-warning' %>
    </div>
    <div>
      <%= button_to 'Delete Customer', @customer, method: :delete, class: 'btn btn-danger',
                    data:                                 { confirm: 'Are you sure you want to delete this customer?' } %>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <h1><%= @customer.name %>'s Profile:&nbsp;&nbsp;&nbsp;&nbsp;</h1><br>
  <div class="flex even-spaced flex-center">
    <span id="customer-img">
      <%= image_tag "profiles/#{@customer.gender}/#{@customer.img}.jpg" %>
      <h4><%= @customer.email %></h4>
    </span>
    <div>
      <%= render partial: 'summary' %>
    </div>
    <div>
      <%= render partial: 'financial' %>
    </div>
    <span class="flex-space"></span>
  </div>
  
  <br>
  <h3 class="with-logo">
    <%= image_tag 'Twitter_logo.svg.png' %>Twitter Profile: <a href="https://twitter.com/">@<%= @twitter_username %></a>
  </h3>
  <hr>
  <h4>Recent Tweets:</h4>
  <%= render 'tweets' %>
  
  <br>
  <h3 class="with-logo">
    <%= image_tag 'IBM_Watson_Logo_2017.png' %>IBM Watson Analysis
  </h3>
  <hr>
  <div class="flex even-spaced margin">
    <%= render 'wpi' %>
    <%= render 'nlu' %>
  </div>
  
  <br>
  <h3 class="with-logo">
    <%= image_tag 'ml_logo.svg' %>IBM Machine Learning Prediction
  </h3>
  <hr>
  <%= render 'ml_churn' %>

</div>
