<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'watson-logo.png', class: 'navbar-logo' %>
      Cognitive Bank
    <% end %>
    <!--<a class="navbar-brand" href="/">%= image_tag 'watson-logo.png', class: 'navbar-logo' %>Cognitive Bank</a>-->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Offers', offers_path %></li>
        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', profile_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Log in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!--OLD NAVBAR-->
<!--Navbar-->
<!--<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="/">%= image_tag 'watson-logo.png', class: 'navbar-logo' %>Cognitive Bank</a>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse">-->
<!--<form class="navbar-form navbar-right" role="form">-->
<!--<div class="form-group">-->
<!--<input type="text" placeholder="Email" class="form-control">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="password" placeholder="Password" class="form-control">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-success">Sign in</button>-->
<!--</form>-->
<!--</div>&lt;!&ndash;/.navbar-collapse &ndash;&gt;-->
<!--</div>-->
<!--</div>-->