<% columns = records.klass.columns.map {|col| col.name} %>
<% columns = columns - blacklist if defined? blacklist %>
<table class="table table-bordered table-striped">
  <tr>
    <% columns.each do |col| %>
      <th><%= records.klass.human_attribute_name col %></th>
    <% end %>
    <% helpers.each do |helper| %>
      <th><%= records.klass.human_attribute_name helper %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% records.each do |rec| %>
    <tr>
      <% columns.each do |col| %>
        <td><%= rec[col] %></td>
      <% end %>
      <% helpers.each do |helper| %>
          <%= method(helper).call(rec) %>
      <% end %>
      <td>
        <% actions.each do |action| %>
          <p>
          <% if action == 'destroy' %>
            <%= button_to 'delete', rec, method: :delete, class: 'btn btn-danger',
                          data: { confirm: 'Are you sure you want to delete this Machine Learning Service?' } %>
          <% else %>
            <%= link_to action, [action.to_sym, rec], class: 'btn btn-warning' %>
          <% end %>
          </p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
