<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'watson-logo-round.png' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag '//www.google.com/jsapi' %>
  <%= javascript_include_tag 'application'%>
</head>

<body>
<%= render 'layouts/header' %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>
<!--%= debug(params) if Rails.env.development? %>-->
</body>
</html>
